.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Nova Square", cursive;
}

li {
  font-size: 2.2rem;
  color: #fff;
  width: 313px;
  list-style: none;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 0px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}

button[type="submit"] {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007aff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.2rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.clearbtn {
  font-size: 2.3rem;
  position: absolute;
  margin-top: 1px;
  right: 43.5%;
}

.clearbtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.2rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.matchbox {
  border: 2px solid rgb(37, 37, 37);
  margin: 0.5px;
  margin-left: -11.5rem;
}

.table-container {
  margin-top: -30rem;
 
}

.past-searches {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  font-size: 2.4rem;
}

tr {
  font-size: 2rem;
  text-align: center;
  background-color: rgb(37, 37, 37);
 
}

h4 {
  font-size: 2.4rem;
  color: #696d72;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

@media screen and (max-width: 506px) {
  .list-item{
    width: 219px !important;
  }
  li {
    width: 219px;
  }
  

  .clearbtn {
    position: absolute;
    right: 41%;
    font-size: 1.4rem;
  }

  .table-container {
    margin-top: -38rem;
  }
}
.highlight {
  color: rgb(238, 241, 7);
  font-weight: bold;
}
.list-item{
  font-size: 1.4rem;
  color: #fff;
  width: 313px;
  list-style: none;
  cursor: pointer;
  /* padding-left: 25px; */
  padding-top: 0.8em;
}
